<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title><%= title %></title>
<meta name="description" content="Karadeniz Game Jam 2026 — 15-17 Ağustos 2026 tarihlerinde Trabzon'da düzenlenecek 48 saatlik oyun geliştirme maratonu. Hemen kayıt ol!">
<meta name="keywords" content="game jam, oyun geliştirme, Trabzon, Karadeniz, KTÜ, hackathon, 2026">
<meta name="author" content="KTÜ Oyun Geliştirme Kulübü">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Orbitron:wght@400;600;700;900&family=VT323&family=Share+Tech+Mono&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css?v=11.0">
<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='.9em' font-size='90'>🎮</text></svg>">
